@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
	--gray: #e2e8f0;
}

html {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.grid-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 5fr;
	/* padding: 25px; */
}

.sidebar {
	display: flex;
	flex-direction: column;
	grid-row: 1 / 3;
	gap: 40px;
	grid-column: 1 / 1;
	background-color: #023047;
	color: white;
	padding: 25px;
}

li img {
	height: auto;
	width: 35px;
}

.logo-group {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 2rem;
}

.logo-group img {
	height: auto;
	width: 50px;
}

.sidebar ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sidebar ul:first-child {
	margin-bottom: 60px;
}

.sidebar li {
	display: flex;
	align-items: center;
	gap: 25px;
}

.header {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	padding: 25px;
}

.header--top {
	display: flex;
	/* justify-content: space-between; */
	/* padding: 25px; */
	gap: 40px;
}

.search {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 15px;
}

.search input {
	flex: 1;
	background-color: var(--gray);
	border-radius: 20px;
	border: none;
	height: 30px;
}

.notification-group {
	display: flex;
	align-items: center;
	gap: 40px;
}

.notification-group img {
	border-radius: 100%;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav--left {
	display: flex;
	align-items: center;
	gap: 20px;
}

.nav--left img {
	width: 80px;
	border-radius: 100%;
}

.nav--right {
	display: flex;
	gap: 20px;
}

.nav--right button {
	color: white;
	background-color: #023047;
	font-size: 1.05rem;
	padding: 10px 40px;
	border-radius: 60px;
	border: none;
}

.article {
	grid-row: 2 / 3;
	display: grid;
	gap: 20px;
	grid-template-columns: 2fr 1fr;
	background-color: var(--gray);
	padding: 25px;
}

.projects {
	grid-row: 1 / 3;
}

.projects--header,
.announcements--header,
.trending--header {
	margin-bottom: 15px;
	font-size: 1.5rem;
}

.project--cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	border-left: 10px solid #023047;
	padding: 20px;
	width: 450px;
	height: 185px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text__header,
.announcement--title {
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 10px;
}

.text__body,
.announcement--body {
	color: gray;
}

.card__btns {
	align-self: flex-end;
	display: flex;
	gap: 15px;
}

.announcements--group {
	background: #fff;
	border-radius: 10px;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.announcements .announcement:nth-child(2) {
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
	padding: 30px 0px;
}

.trending--users {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.trending--user {
	display: flex;
	align-items: center;
	gap: 10px;
}

.handle {
	font-weight: 600;
	margin-bottom: 5px;
}

.handle--sub {
	color: gray;
}

.trending--user img {
	border-radius: 100%;
}
